{% import "../partials/_mixins.html" as mixins %}
<!DOCTYPE html>
<html>
  <head>
    {% include "_head.html" %}
    {# {% include "_media-tags.html" %} #}
  </head>
  <body {% if bodyClass %} class="{{bodyClass}}"{% endif %} class="is-beta">

    <!-- BEGIN content -->
    {% if noOut %}{% block content %}{% endblock %}{% else %}
    <div class="out">
      {% block content %}{% endblock %}
    </div>
    {% endif %}
    <!-- END content -->

    {% if !noScripts %}
      <!-- BEGIN scripts -->
      <script type="text/javascript" src="js/app.js"></script>
      <!-- END scripts -->
    {% endif %}

  </body>
</html>
