.article
  font-style: 14px
  line-height: 1.57
  p
    margin: 1em 0
  &:first-child
    margin-top: 0
  &:last-child
    margin-bottom: 0


.article__title
  margin-bottom: 24px
  +f(l, 18)
  line-height: 1.667
