.contacts
	padding-bottom: 30px 
	padding-top: 30px 
	+clr
	&__left
		float: left
		width: 280px 
	&__right
		overflow: hidden
		padding-left: 30px 
		img
			width: 100% 
.vacancy
	margin-bottom: 40px 
	.vacancy__title
		font-size: 18px 
		+f(r,20)
		margin-bottom: 10px 
	.vacancy__download
		text-decoration: none
		color: #777 
		i
			font-size: 28px 
			margin-right: 10px 
			display: inline-block
			vertical-align: middle
			color: #ffde00
	