.hero-slider
  position: relative
  z-index: 0
  .slick-dots
    position: absolute
    bottom: 10px
    left: 0
    right: 0
    max-width: 960px
    padding: 0 20px
    margin: auto
    font-size: 0
    pointer-events: none
    > li
      display: inline-block
      margin-right: 7px
      font-size: 0
      line-height: 0
      pointer-events: all
      width: 12px
      height: 12px
      box-sizing: border-box
      border: 2px solid white
      border-radius: 50%
      cursor: pointer
      +trans(background)
      button
        display: none
      &:hover,
      &.slick-active
        background: white

.hero-slider__slides
  +clr

.hero-slider__nav
  position: absolute
  z-index: 1
  bottom: 34px
  left: 0
  right: 0
  font-size: 0
  pointer-events: none

.hero-slider__prev,
.hero-slider__next
  position: relative
  width: 58px
  height: 58px
  background: $color-darkblue
  // background: #19294A radial-gradient(circle 44px at center, rgba(98, 139, 225, 0.24) 0%, rgba(98, 139, 225, 0.15) 100%)
  color: white
  font-size: 14px
  +trans(background-color)
  pointer-events: all
  &:after
    content: ""
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background: radial-gradient(circle 44px at center, rgba(98, 139, 225, 0.24) 0%, rgba(98, 139, 225, 0.15) 100%)
    +trans
  &:hover
    &:after
      opacity: 0
    // background-color: darken($color-darkblue, 4%)

.hero-slider__prev
  margin-right: 1px

.hero-slide
  float: left
  height: 590px
  color: white
  position: relative
  +f(r, 18)
  line-height: 1.667
  overflow: hidden
  .l
    position: relative
    height: 100%
    +vertical
    text-align: left
  p
    margin: 1em 0

  &-1
    .hero-slide__image
      right: -35px

  &-2
    .hero-slide__image
      right: percentage(-85/960)
      bottom: 98px
    .hero-slide__content
      max-width: percentage(430/960)
    .link-more
      margin-top: 26px

  +md
    .hero-slide__content
      padding-bottom: 80px

  +sm
    height: 450px
    .hero-slide__image
      display: none
    .hero-slide__content
      max-width: none
    .hero-slide__link
      margin: 0
    .title
      font-size: 29px
    .link-more
      margin: 0

.hero-slide__content
  display: inline-block
  vertical-align: middle
  position: relative
  z-index: 1
  max-width: percentage(490/960)
  font-size: 18px
  padding: 0 0 25px 10px

.hero-slide__image
  position: absolute
  z-index: 0
  bottom: 0
  right: 0
  max-width: 50%

.hero-slide__link
  display: block
  margin-top: percentage(80/490)
  +f(r, 14)
  text-transform: uppercase
  color: #7A859B
  a
    color: $color-yellow
    +trans(color)
    &:hover
      color: white
