$map-main-color: #CCD4E2

#map-canvas
  path
    fill: white
    stroke-width: 2
    stroke: $map-main-color
    transition: fill 0.3s ease
    cursor: pointer
    &:hover
      fill: rgba($map-main-color, 0.2)
      
    // &.active
    //   fill: #FFDE00
    &.inactive
      fill: rgba($map-main-color, 0.5)
    &.active
      fill: rgba(#ffde00,.5)

#map-marker
  display: none !important
#cities
  pointer-events: none
  // fix
  display: none !important
  circle
    fill: $map-main-color
    &.active
      fill: #19294A
      // fill: #ffde00
    &.inactive
      display: none

#map-marker
  visibility: hidden
  fill: #FFDE00
  &.active
    visibility: visible
