<!-- BEGIN footer -->
<div class="footer">
  <div class="footer__cell">
    <a href="#" class="social-btn social-btn_facebook">
      <span class="social-btn__inner">
        <i class="icon icon-facebook"></i>
        <span>facebook.com/<b>police.gov.ua</b></span>
      </span>
    </a>
  </div>

  <div class="footer__cell">
    <a href="#" class="social-btn social-btn_twitter">
      <span class="social-btn__inner">
        <i class="icon icon-twitter"></i>
        <span>twitter.com/<b>patrolpoliceua</b></span>
      </span>
    </a>
  </div>

  <div class="footer__cell">
    <a href="#" class="social-btn social-btn_instagram">
      <span class="social-btn__inner">
        <i class="icon icon-instagram"></i>
        <span>instagram.com/<b>kyiv_police</b></span>
      </span>
    </a>
  </div>
</div>
<!-- END footer -->
