<ul class="dropdown__list">
  <li>Вінницька</li>
  <li>Волынська</li>
  <li>Дніпропетровська</li>
  <li>Донецька</li>
  <li>Житомирськая</li>
  <li>Закарпатська</li>
  <li>Запорожська</li>
  <li>Ивано- Франківська</li>
  <li>Київська</li>
  <li>Кировоградська</li>
  <li>Луганська</li>
  <li>Львівська</li>
  <li>миколаївська</li>
  <li>Одеська</li>
  <li>Полтавська</li>
  <li>Рівенська</li>
  <li>Сумська</li>
  <li>Тернопільська</li>
  <li>Харьківська</li>
  <li>Херсонська</li>
  <li>Хмельницька</li>
  <li>Черкаська</li>
  <li>Чернігівська</li>
  <li>Чернівецька</li>
</ul>
