@font-face {
  font-family: "iconfont";
  src: url('../fonts/iconfont.eot');
  src: url('../fonts/iconfont.eot?#iefix') format('eot'),
    url('../fonts/iconfont.woff2') format('woff2'),
    url('../fonts/iconfont.woff') format('woff'),
    url('../fonts/iconfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

$icon-arrow-left: "\EA01";
$icon-arrow-right: "\EA02";
$icon-chevron-down: "\EA03";
$icon-chrome: "\EA04";
$icon-facebook: "\EA05";
$icon-firefox: "\EA06";
$icon-instagram: "\EA07";
$icon-location: "\EA08";
$icon-more: "\EA09";
$icon-opera: "\EA0A";
$icon-pdf: "\EA0B";
$icon-phone-2: "\EA0C";
$icon-phone: "\EA0D";
$icon-phone2: "\EA0E";
$icon-safari: "\EA0F";
$icon-search: "\EA10";
$icon-select: "\EA11";
$icon-twitter: "\EA12";


%icon {
  font-family: "iconfont" !important;
  font-style: normal;
  font-weight: normal;
  text-rendering: auto;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon {
  @extend %icon;
  display: inline-block;
}

.icon-lg {
  font-size: 1.3333333333333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}
.icon-2x { font-size: 2em; }
.icon-3x { font-size: 3em; }
.icon-4x { font-size: 4em; }
.icon-5x { font-size: 5em; }
.icon-fw {
  width: 1.2857142857142858em;
  text-align: center;
}

.icon-arrow-left:before { content: $icon-arrow-left; }
.icon-arrow-right:before { content: $icon-arrow-right; }
.icon-chevron-down:before { content: $icon-chevron-down; }
.icon-chrome:before { content: $icon-chrome; }
.icon-facebook:before { content: $icon-facebook; }
.icon-firefox:before { content: $icon-firefox; }
.icon-instagram:before { content: $icon-instagram; }
.icon-location:before { content: $icon-location; }
.icon-more:before { content: $icon-more; }
.icon-opera:before { content: $icon-opera; }
.icon-pdf:before { content: $icon-pdf; }
.icon-phone-2:before { content: $icon-phone-2; }
.icon-phone:before { content: $icon-phone; }
.icon-phone2:before { content: $icon-phone2; }
.icon-safari:before { content: $icon-safari; }
.icon-search:before { content: $icon-search; }
.icon-select:before { content: $icon-select; }
.icon-twitter:before { content: $icon-twitter; }
