---
title: 'Головна'
---

{% extends "layouts/_layout.html" %}

{% block content %}
  {% include "partials/_header.html" %}
  {% include "partials/_hero-slider.html" %}
  <div class="l l-main-page">
    <div class="l-main-page__left">
      <!-- BEGIN events -->
      <div class="head">
        <h3 class="title">Події</h3>
        <div class="dropdown dropdown_lg">
          <span class="badge">Київ <i class="icon icon-chevron-down"></i></span>
          {% include "partials/_regions-list.html" %}
        </div>
      </div>
      <ul class="list">
        {% for e in events %}
        <li class="list__item">
          {{mixins.event(e)}}
        </li>
        {% endfor %}
      </ul>
      <div class="align-right">
        {{mixins.btnLink('Усі події')}}
      </div>
      <!-- END events -->
    </div>
    <div class="l-main-page__right">
      <!-- BEGIN news -->
      <div class="head">
        <h3 class="title">Новини</h3>
        <div class="dropdown dropdown_lg">
          <span class="badge">Київ <i class="icon icon-chevron-down"></i></span>
          {% include "partials/_regions-list.html" %}
        </div>
      </div>
      <ul class="list">
        {% for n in news %}
        <li class="list__item">
          {{mixins.news(n, 'news_horz')}}
        </li>
        {% endfor %}
      </ul>
      <div class="align-right">
        {{mixins.btnLink('Усі новини')}}
      </div>
      <!-- END news -->
    </div>
  </div>
  {% include "partials/_footer.html" %}
{% endblock %}
