---
title: Новини
---

{% extends "layouts/_layout.html" %}
{% block content %}
  {% include "partials/_header.html" %}
  <div class="page-content">
    <div class="l">

      <header class="content-header">
        <div class="content-header__left">
          <h3 class="title title_link is-active">
            <a href="map.html">Контакти</a>
          </h3>
          <h3 class="title title_link">
            <a href="contacts.html">Вакансії</a>
          </h3>
          <h3 class="title title_link ">
            <a href="zapit.html">Запити</a>
          </h3>
        </div>

      </header>

      <!-- begin contacts  -->
      <div class="contacts">
        <!-- begin contacts__left  -->
        <div class="contacts__left">
          <div class="select">
            <select class="" name="">
              <option value="option">Одесса</option>
              <option value="option">Одесса1</option>
              <option value="option">Одесса2</option>
              <option value="option">Одесса3</option>
              <option value="option">Одесса4</option>
            </select>
            <div class="select__value">
              Одесса
            </div>
            <div class="select__arrow icon icon-select"></div>
          </div>
          <!-- end select  -->

          <!-- begin contact item -->
          <div class="contact">
            <p>
              Управління патрульної поліції МВС в м. Одесі
            </p>
            <p class="contact__schedule">
              9:00 – 18:00  <span>пн - пт</span>
            </p>
            <ul class="contact__info">
              <li><i class="icon icon-loc"></i>Середньофонтанська, 14, м. Одеса, 65039</li>
              <li><i class="icon icon-phone2"></i>(044) 254-94-88 <span>(гаряча лінія)</span></li>
              <li><i class="icon icon-facebook"></i>facebook.com/odesapolice</li>
            </ul>
          </div>
          <!-- END contact item -->
        </div>
        <!-- end contacts__left -->
        <!-- begin contacts__right -->
        <div class="contacts__right">
         <img src="img/mapu.png" alt="">

        </div>
        <!-- end contacts__right -->
      </div>
      <!-- end contacts -->

      <!-- <div class="align-center">
        {{mixins.btnLink('Завантажити ще', 'btn_md')}}
      </div> -->

    </div>
  </div>
  {% include "partials/_footer.html" %}
{% endblock %}
