---
title: Не підтримувана версія браузеру
noScripts: true
noOut: true
---

{% extends "layouts/_layout.html" %}
{% block content %}
  <div class="centered-container dark-bg">
    <div class="centered-container__inner service-msg">
      <div class="main-logo main-logo_beta"></div>
      <h1 class="title">
        Вам слід оновити версію браузера,<br>
        або встановити новий.
      </h1>
      <p>
        За останні 10 років інформації в Інтернеті
        побільшало і вона стала різноманітнішою.<br>
      </p>
      <p>
        Користуйтесь відповідними інструментами веб-сьорфінгу
        і будьте на хвилі з нами:
      </p>
      <ul class="browser-list">
        <li class="browser-list__item">
          <a href="https://www.google.com/chrome/browser/desktop/index.html" target="_blank" class="browser-link">
            <i class="icon icon-chrome"></i>
            <span>Chrome</span>
          </a>
        </li>
        <li class="browser-list__item">
          <a href="#" target="_blank" class="browser-link">
            <i class="icon icon-safari"></i>
            <span>Safari</span>
          </a>
        </li>
        <li class="browser-list__item">
          <a href="http://www.opera.com/ru/computer" target="_blank" class="browser-link">
            <i class="icon icon-opera"></i>
            <span>Opera</span>
          </a>
        </li>
        <li class="browser-list__item">
          <a href="https://www.mozilla.org/ru/firefox/new/" target="_blank" class="browser-link">
            <i class="icon icon-firefox"></i>
            <span>Firefox</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
{% endblock %}
