---
title: Новини
---

{% extends "layouts/_layout.html" %}
{% block content %}
  {% include "partials/_header.html" %}
  <div class="page-content">
    <div class="l">

      <header class="content-header">
        <div class="content-header__left">
          <h3 class="title title_link">
            <a href="map.html">Контакти</a>
          </h3>
          <h3 class="title title_link">
            <a href="contacts.html">Вакансії</a>
          </h3>
          <h3 class="title title_link is-active">
            <a href="zapit.html">Запити</a>
          </h3>
        </div>
        
      </header>

      <!-- begin contacts  -->
      <div class="contacts">
        <div class="article">
          <h1>Some title</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum sed ducimus assumenda voluptatem temporibus quam. Et officiis ipsum tenetur accusantium aspernatur modi doloremque illum est, animi! Vel beatae, exercitationem amet!</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum sed ducimus assumenda voluptatem temporibus quam. Et officiis ipsum tenetur accusantium aspernatur modi doloremque <a href='#'>illum est, animi!</a> Vel beatae, exercitationem amet!</p>
          <ul>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur ipsam sit quod nemo consectetur, deserunt, inventore magnam quibusdam beatae aperiam quis harum sequi, quisquam id fugit quaerat amet, eos soluta!</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur ipsam sit quod nemo consectetur, deserunt, inventore magnam quibusdam beatae aperiam quis harum sequi, quisquam id fugit quaerat amet, eos soluta!</li>
            <li>Loremerat amet, eos soluta!</li>
          </ul>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum sed ducimus assumenda voluptatem temporibus quam. Et officiis ipsum tenetur accusantium aspernatur modi doloremque illum est, animi! Vel beatae, exercitationem amet!</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum sed ducimus assumenda voluptatem temporibus quam. Et officiis ipsum tenetur accusantium aspernatur modi doloremque illum est, animi! Vel beatae, exercitationem amet!</p>
        </div>
        <!-- end text -->
        <!-- begin form  -->
        <div class="form">
          <h1>[FORM][FORM][FORM][FORM][FORM][FORM][FORM][FORM][FORM][FORM][FORM][FORM]</h1>
        </div>
        <!-- end form -->
      </div>
      <!-- end contacts -->

      <!-- <div class="align-center">
        {{mixins.btnLink('Завантажити ще', 'btn_md')}}
      </div> -->

    </div>
  </div>
  {% include "partials/_footer.html" %}
{% endblock %}
